<!DOCTYPE html>
<html>
    <head>
        <!-- CONFIGUARCION METADATOS-->
        <!-- CSS-->
       <link rel="stylesheet"
       href="http://localhost:3001/css/estilos-generales.css">
    </head>
    <body>
        <p>HOLA <%=nombre%> </p>

        <!--contenido html-->
        <!-- SCRIPTS -->
        <script   src="/js/logica-general.js">
          
        </script>
    </body>


</html>