<%- include('../compartido/menu/menu-component') %>

<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<h1>FAQ</h1>
<button onclick="mensajeAlertar()">Alertar</button>
<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>